# vim: filetype=zsh
# Start configuration added by Zim install {{{
#
# This is not sourced during shell startup, and it's only used to configure the
# zimfw plugin manager.
#

#
# Modules
#

zmodule archive
zmodule environment
zmodule input
zmodule utility
zmodule https://github.com/Aloxaf/fzf-tab.git
zmodule https://github.com/jeffreytse/zsh-vi-mode.git
zmodule https://github.com/le0me55i/zsh-systemd.git --source systemd.plugin.zsh

#
# Prompt
#

# Exposes to prompts how long the last command took to execute, used by asciiship.
# zmodule duration-info
# Exposes git repository status information to prompts, used by asciiship.
# zmodule git-info
# A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.
# zmodule asciiship
zmodule sindresorhus/pure --source async.zsh --source pure.zsh

#
# Completion
#

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src
# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion

#
# Modules that must be initialized last
#

# Fish-like syntax highlighting for Zsh.
zmodule https://github.com/z-shell/F-Sy-H --source F-Sy-H.plugin.zsh
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions
# }}} End configuration added by Zim install
