[Desktop Entry]
Name=ElectronMail wayland
Exec=open-wl /opt/ElectronMail/electron-mail %U
Terminal=false
Type=Application
Icon=electron-mail
StartupWMClass=electron-mail
Comment=Unofficial ProtonMail Desktop App
Categories=Office;
