[Desktop Entry]
Type=Application
Name=Teams for Linux wayland
Comment=Unofficial Microsoft Teams client for Linux.
GenericName=Teams
Exec=open-wl teams-for-linux
Icon=teams-for-linux
Categories=Network;Chat;InstantMessaging;Application;
Terminal=false
StartupNotify=true
Version=0.1.9
